<!DOCTYPE plugin SYSTEM "../../libs/devblocks/plugin.dtd">
<plugin>
	<id>cerberusweb.iphone</id>
	<name>[Cerb5] iPhone UI (Experimental)</name>
	<description>iPhone mobile interface. This is accessed by appending /iphone to your helpdesk URL</description>
	<author>WebGroup Media, LLC.</author>
	<revision>0</revision>
	<link>http://wiki.cerb4.com/wiki/New_Changes#iPhone_Mobile_Interface</link>
	
    <!-- Exported Classes -->
    
    <class_loader>
		<file path="api/App.php">
		    <class name="Extension_iPhoneDisplayTab" />
			<class name="Extension_iPhoneActivityPage" />
		</file>
	</class_loader>
	
	<extensions>
		<extension point="devblocks.controller">
			<id>cerberusweb.controller.iphone</id>
			<name>iPhone Controller</name>
			<class>
				<file>api/App.php</file>
				<name>ChiPhonePageController</name>
			</class>
			<params>
				<param key="uri" value="iphone" />
			</params>
		</extension>
        
        <!-- Pages -->
        
		<extension point="cerberusweb.iphone.page">
			<id>iphone.home</id>
			<name>iPhone Home Page</name>
			<class>
				<file>api/App.php</file>
				<name>ChiPhoneHomePage</name>
			</class>
			<params>
				<param key="uri" value="home" />
			</params>
		</extension>				
		<extension point="cerberusweb.iphone.page">
			<id>iphone.login</id>
			<name>iPhone Login Page</name>
			<class>
				<file>api/App.php</file>
				<name>ChiPhoneLoginPage</name>
			</class>
			<params>
				<param key="uri" value="login" />
			</params>
		</extension>
        <extension point="cerberusweb.iphone.page">
			<id>iphone.tickets</id>
			<name>iPhone Tickets Page</name>
			<class>
				<file>api/App.php</file>
				<name>ChiPhoneTicketsPage</name>
			</class>
			<params>
				<param key="uri" value="tickets" />
			</params>
		</extension>
        <extension point="cerberusweb.iphone.page">
			<id>iphone.activity</id>
			<name>iPhone Activity Page</name>
			<class>
				<file>api/App.php</file>
				<name>ChiPhoneActivityPage</name>
			</class>
			<params>
				<param key="uri" value="activity" />
			</params>
		</extension>
        <extension point="cerberusweb.iphone.page">
			<id>iphone.research</id>
			<name>iPhone Research Page</name>
			<class>
				<file>api/App.php</file>
				<name>ChiPhoneResearchPage</name>
			</class>
			<params>
				<param key="uri" value="research" />
			</params>
		</extension>
        <extension point="cerberusweb.iphone.page">
			<id>iphone.opportunities</id>
			<name>Opportunities iPhone Page</name>
			<class>
				<file>api/App.php</file>
				<name>ChiPhoneOpportunitiesPage</name>
			</class>
			<params>
				<param key="uri" value="opportunities" />
				<param key="title" value="Opportunities" />
			</params>
		</extension>
        <extension point="cerberusweb.iphone.page">
			<id>iphone.feedback</id>
			<name>Feedback</name>
			<class>
				<file>api/App.php</file>
				<name>ChiPhoneFeedbackPage</name>
			</class>
			<params>
				<param key="uri" value="feedback" />
				<param key="title" value="Feedback" />
			</params>
		</extension>
        <extension point="cerberusweb.iphone.page">
			<id>iphone.tasks</id>
			<name>Tasks</name>
			<class>
				<file>api/App.php</file>
				<name>ChiPhoneTasksPage</name>
			</class>
			<params>
				<param key="uri" value="tasks" />
				<param key="title" value="Tasks" />
			</params>
		</extension>
        <extension point="cerberusweb.iphone.page">
			<id>iphone.timetracking</id>
			<name>Time Tracking Page</name>
			<class>
				<file>api/App.php</file>
				<name>ChiPhoneTimeTrackingPage</name>
			</class>
			<params>
				<param key="uri" value="timetracking" />
				<param key="title" value="Time Tracking" />
			</params>
		</extension>
        
        <!-- Ticket Display Tabs -->
        
        <extension point="cerberusweb.iphone.ticket.display.tab">
			<id>conversation.iphone.tickets.display</id>
			<name>Conversation Tab</name>
			<class>
				<file>api/App.php</file>
				<name>ChConversationiPhoneTicketDisplayTab</name>
			</class>
			<params>
				<param key="uri" value="conversation" />
				<param key="title" value="Conversation" />
			</params>
		</extension>
        <extension point="cerberusweb.iphone.ticket.display.tab">
			<id>properties.iphone.tickets.display</id>
			<name>Properties Tab</name>
			<class>
				<file>api/App.php</file>
				<name>ChPropertiesiPhoneTicketDisplayTab</name>
			</class>
			<params>
				<param key="uri" value="properties" />
				<param key="title" value="Properties" />
			</params>
		</extension>
        <extension point="cerberusweb.iphone.ticket.display.tab">
			<id>other.iphone.tickets.display</id>
			<name>Other Tab</name>
			<class>
				<file>api/App.php</file>
				<name>ChOtheriPhoneTicketDisplayTab</name>
			</class>
			<params>
				<param key="uri" value="other" />
				<param key="title" value="Other" />
			</params>
		</extension>
        <extension point="cerberusweb.iphone.ticket.other.tab">
			<id>mailhistory.other.iphone.ticket</id>
			<name>Mail History Tab</name>
			<class>
				<file>api/App.php</file>
				<name>ChMailHistoryiPhoneTicketDisplayTab</name>
			</class>
			<params>
				<param key="uri" value="mailhistory" />
				<param key="title" value="Mail History" />
			</params>
		</extension>

        <!-- iPhone Opportunity Display Tabs -->
        
        <extension point="cerberusweb.iphone.opportunity.display.tab">
			<id>notes.iphone.opportunity.display</id>
			<name>Notes Tab</name>
			<class>
				<file>api/App.php</file>
				<name>ChNotesiPhoneOpportunityDisplayTab</name>
			</class>
			<params>
				<param key="uri" value="notes" />
				<param key="title" value="Notes" />
			</params>
		</extension>
        <extension point="cerberusweb.iphone.opportunity.display.tab">
			<id>properties.iphone.opportunity.display</id>
			<name>Other Tab</name>
			<class>
				<file>api/App.php</file>
				<name>ChPropertiesiPhoneOpportunityDisplayTab</name>
			</class>
			<params>
				<param key="uri" value="properties" />
				<param key="title" value="Properties" />
			</params>
		</extension>
        <extension point="cerberusweb.iphone.opportunity.display.tab">
			<id>other.iphone.opportunity.display</id>
			<name>Other Tab</name>
			<class>
				<file>api/App.php</file>
				<name>ChOtheriPhoneOpportunityDisplayTab</name>
			</class>
			<params>
				<param key="uri" value="other" />
				<param key="title" value="Other" />
			</params>
		</extension>
        <extension point="cerberusweb.iphone.opportunity.other.tab">
			<id>tasks.other.iphone.opportunity</id>
			<name>Tasks Tab</name>
			<class>
				<file>api/App.php</file>
				<name>ChTasksiPhoneOpportunityDisplayTab</name>
			</class>
			<params>
				<param key="uri" value="tasks" />
				<param key="title" value="Tasks" />
			</params>
		</extension>
        <extension point="cerberusweb.iphone.opportunity.other.tab">
			<id>mailhistory.other.iphone.opportunity</id>
			<name>Mail History Tab</name>
			<class>
				<file>api/App.php</file>
				<name>ChMailHistoryiPhoneOpportunityDisplayTab</name>
			</class>
			<params>
				<param key="uri" value="mailhistory" />
				<param key="title" value="Mail History" />
			</params>
		</extension>
        
        
        <!-- iPhone Task Display Tabs -->
        
        <extension point="cerberusweb.iphone.task.display.tab">
			<id>notes.iphone.task.display</id>
			<name>Notes Tab</name>
			<class>
				<file>api/App.php</file>
				<name>ChNotesiPhoneTaskDisplayTab</name>
			</class>
			<params>
				<param key="uri" value="notes" />
				<param key="title" value="Notes" />
			</params>
		</extension>
        <extension point="cerberusweb.iphone.task.display.tab">
			<id>properties.iphone.task.display</id>
			<name>Other Tab</name>
			<class>
				<file>api/App.php</file>
				<name>ChPropertiesiPhoneTaskDisplayTab</name>
			</class>
			<params>
				<param key="uri" value="properties" />
				<param key="title" value="Properties" />
			</params>
		</extension>
	</extensions>
</plugin>